<div class="nn-container">

<button class="slds-button  slds-button--neutral slds-float--right">Add</button>
<div class="slds-form-element slds-lookup" data-select="single" data-scope="single">
  <label class="slds-form-element__label" for="lookup-01">Your Properties</label>
  <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon--right">
   
    <input id="lookup-01" class="slds-lookup__search-input slds-input" type="text" aria-autocomplete="list" role="combobox" aria-expanded="true" aria-activedescendant="" placeholder="Search Properties" />
  </div>
</div>
     <table class="slds-table slds-table--bordered slds-table--cell-buffer slds-table--fixed-layout">
  <thead>
    <tr class="slds-text-heading--label">
     
      <th>#</th>
                      <th>Name</th>
                      <th>Location</th>
                      <th>Type</th>
                      <th>Status</th>
                      <th></th>
                      <th></th>
                      <th></th>
                     <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr class="slds-hint-parent">
     <td>Tet</td>
		  <td>Test</td>
			 <td>TEst</td>
			  <td></td>
				 <td></td>
				  <td></td>
					 <td></td>
					  <td>Test</td>
    </tr>
  </tbody>
</table>
</div>